---
import Layout from "@layouts/Layout.astro";
import CiDiscord from "~icons/ci/discord";
import CiGithub from "~icons/ci/github";
---

<Layout title="Welcome to Salam App.">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <section class="text-white body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1
          class="text-3xl font-extrabold tracking-tight title-font mb-4 text-white sm:text-4xl"
        >
          OUR TEAM!
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          Muslims, from across the world, for the sake of Islam!
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="saad.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Saad&nbsp
              </h2>

              <img
                src="canada.svg"
                class="h-[25px] w-[35px] mx-auto m-2"
                alt="canada flag"
              />

              <h3 class="text-gray-400 mb-3">Head App Developer</h3>
              <p class="mb-4">
                Computer Science graduate trying to serve the Ummah with his
                knowledge and skills. Also loves RuneScape (Oldschool).
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Ismail Fateen
              </h2>
              <img
                src="egypt.svg"
                class="h-[25px] w-[35px] mx-auto m-2"
                alt="egypt flag"
              />
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">
                I'm 15 years old―new to the programming world and always
                learning!
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="razer.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Deadly Razer
              </h2>
              <img
                src="pakistan.svg"
                class="h-[25px] w-[35px] mx-auto m-2"
                alt="flag of pakistan"
              />
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">
                Full-time faqih, part-time muhadith and junior dev at
                salamlabs.io
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="edster.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">Edster</h2>
              <div class="flex items-center mx-auto">
                <img
                  src="turkey.svg"
                  class="h-[25px] w-[35px] "
                  alt="turkey flag"
                />
                <img
                  src="netherlands.svg"
                  class="h-[25px] w-[35px] "
                  alt="netherlands flag"
                />
              </div>
              <h3 class="text-gray-500 mb-3">App Developer, UI Developer</h3>
              <p class="mb-4">
                They have greater joy in affliction than one of you has in
                gifts.
              </p>
              <span class="inline-flex">
                <!-- <a class="text-white">
                  <CiGithub />
                </a> -->
                <!-- <a class="ml-2 text-white">
                  <CiDiscord />
                </a> -->
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--thsu-->

      <!-- the first row is upper stuff now begins the second row -->

      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="saud.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <!-- <div class="flex justify-center items-center"> -->
              <h2 class="title-font font-medium text-lg text-white">
                Sauood al-Mashreqi&nbsp&nbsp
              </h2>
              <!-- <img src="saudflag.svg" class="h-[20px] w-[30px]" alt=""> 
         <p>&nbsp&nbsp</p>
         <img src="saudflag.svg" class="h-[20px] w-[30px]" alt=""> -->
              <!-- </div> -->

              <img
                src="kashmir.svg"
                class="h-[25px] w-[35px] mx-auto m-2"
                alt="kashmir flag"
              />
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">
                Part-time Faqih, full-time muhadith and senior dev at
                almashreqi.tech
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="muntasir.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Muntasir Enam
              </h2>
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">
                Developer, Gamer, Moderator at MGL and Junior Dev at Salam Labs
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Deadly Razer
              </h2>
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">
                Full-time faqih, part-time muhadith and junior dev at
                salamlabs.io
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Edster khan
              </h2>
              <h3 class="text-gray-500 mb-3">App Developer, UI Developer</h3>
              <p class="mb-4">
                They have greater joy in affliction than one of you has in
                gifts.
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- the second row ends here and the third row starts here
 -->

      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Saad khan
              </h2>
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">I play RuneScape.</p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Ismail Fateen
              </h2>
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">
                I'm 15 years old―new to the programming world and always
                learning!
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="razer.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                deadlyrazer
              </h2>
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">average</p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Edster khan
              </h2>
              <h3 class="text-gray-500 mb-3">App Developer, UI Developer</h3>
              <p class="mb-4">
                They have greater joy in affliction than one of you has in
                gifts.
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- the third row ends here and the 4th row starts here
 -->
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="spark.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">Spark</h2>
              <h3 class="text-gray-400 mb-3">Web Developer</h3>
              <p class="mb-4">I am Daddy Spark</p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="golam.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">Golam</h2>

              <h3 class="text-gray-400 mb-3">Web Developer</h3>
              <p class="mb-4">
                I write code and want to make opensource islamic softwere
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              src="quran1.png"
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              alt="developers profile picture"
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                deadlyrazer
              </h2>
              <h3 class="text-gray-400 mb-3">App Developer</h3>
              <p class="mb-4">average</p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiGithub />
                </a>
                <a class="ml-2 text-white">
                  <CiDiscord />
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- the fourth row ends here -->
    </div>
  </section>

  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</Layout>
