---
import Icon from "astro-icon";
---

<div class="py-16 bg-smoke-400 overflow-hidden lg:py-24">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="relative">
      <h2
        class="text-center text-3xl leading-8 font-medium text-white sm:text-4xl"
      >
        Salam App
      </h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-200">
        An excellent open source app, from the muslim community to the muslim
        community.
      </p>
    </div>

    <section class="text-gray-300 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div
          class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
        >
          <div class="p-4 lg:w-1/3 flex">
            <div
              class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-aquamarine text-black mb-4 flex-shrink-0"
            >
              <Icon name="ph:info" height="30px" />
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-white text-lg title-font font-medium mb-2">
                Shooting Stars
              </h2>
              <p class="leading-relaxed text-base">
                Explore the meanings and teachings of the Qur'an and Hadith with
                our comprehensive collection of tafsir and Hadith commentary.
              </p>
              <a class="mt-3 text-white inline-flex items-center"
                >Learn More
                <Icon name="ic:outline-keyboard-arrow-right" height="30px" />
              </a>
            </div>
          </div>
          <div class="p-4 lg:w-1/3 flex">
            <div
              class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-aquamarine text-black mb-4 flex-shrink-0"
            >
              <Icon name="ic:round-notifications" height="30px" />
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-white text-lg title-font font-medium mb-2">
                The Catalyzer
              </h2>
              <p class="leading-relaxed text-base">
                Stay on track with your spiritual practice using our daily
                notification feature, which reminds you to recite Qur'an, pray,
                and perform other important Islamic duties.
              </p>
              <a class="mt-3 text-white inline-flex items-center"
                >Learn More
                <Icon name="ic:outline-keyboard-arrow-right" height="30" />
              </a>
            </div>
          </div>
          <div class="p-4 lg:w-1/3 flex">
            <div
              class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-aquamarine text-black mb-4 flex-shrink-0"
            >
              <Icon name="ic:twotone-text-rotation-angleup" height="30px" />
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-white text-lg title-font font-medium mb-2">
                Neptune
              </h2>
              <p class="leading-relaxed text-base">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                taxidermy. Gastropub indxgo juice poutine, ramps microdosing
                banh mi pug VHS try-hard ugh iceland kickstarter tumblr
                live-edge tilde.
              </p>
              <a class="mt-3 text-white inline-flex items-center"
                >Learn More
                <Icon name="ic:outline-keyboard-arrow-right" height="30px" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="flex mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center flex-col"
      id="quran"
    >
      <div class="relative">
        <h3 class="text-2xl font-medium text-white sm:text-3xl">
          The Holy Quran
        </h3>
        <p class="mt-3 text-lg text-gray-200">
          Read the Holy Quran in all it's glory, unchanged since the day it was
          revealed.
        </p>

        <div class="mt-10 space-y-10">
          <div
            class="relative p-3"
            id="verse"
            onclick="changePic('quran3.png' ,'verse')"
          >
            <dt>
              <div
                class="absolute mt-3 flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine text-black"
              >
                <Icon name="carbon:insert-page" height="30px" />
              </div>
              <p class="ml-20 text-lg leading-6 font-medium text-white">
                Verse by Verse
              </p>
            </dt>
            <dd class="mt-2 ml-20 text-base text-gray-200">
              Read verse by verse with translations and transliterations for
              easy understanding.
            </dd>
          </div>

          <div
            class="relative p-3"
            id="mushaf"
            onclick="changePic('quran5.png' ,'mushaf')"
          >
            <dt>
              <div
                class="absolute mt-3 flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine text-black"
              >
                <Icon name="ic:sharp-menu-book" height="30px" />
              </div>
              <p class="ml-20 text-lg leading-6 font-medium text-white">
                Mushaf Mode
              </p>
            </dt>
            <dd class="mt-2 ml-20 text-base text-gray-200">
              Prefer reading the Holy Quran on how it is in the written form?
              Both ways are available.
            </dd>
          </div>

          <div
            class="relative p-3"
            id="list"
            onclick="changePic('quran2.png' ,'list')"
          >
            <dt>
              <div
                class="absolute mt-1 flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine text-black"
              >
                <Icon name="ic:sharp-format-list-bulleted" height="30px" />
              </div>
              <p class="ml-20 text-lg leading-6 font-medium text-white">
                List Mode
              </p>
            </dt>
            <dd class="mt-2 ml-20 text-base text-gray-200">
              List the verses, search through them.
            </dd>
          </div>
        </div>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
        <img
          id="img"
          src="/quran1.png"
          class="h-[645px] w-[352.5px] relative mr-auto ml-44"
          alt="photo of salam app"
        />
      </div>
    </div>
    <!-- commented code was deleted from here -->
  </div>
</div>

<style>
  .selected {
    background-color: #40444e;
    border-radius: 3vh;
  }
</style>

<script is:inline>
  function changePic(pic, id) {
    document.querySelector("#img").src = "./" + pic;

    // document.getElementById("img").src = "../../public/quran/" + pic;
    // when it is clicked take away the styles that were given on previous click

    const idNames = ["verse", "list", "mushaf"];

    // list of id names that can be selected this function below deletes the class that makes it look like its selecyed

    idNames.forEach(function removeClass(item) {
      document.getElementById(item).classList.remove("selected");
    });

    document.getElementById(id).classList.toggle("selected");
  }

  changePic("quran5.png", "mushaf");
</script>




