---
import Icon from "astro-icon";
---

<div>
  <div class="max-w-2xl mx-auto text-white py-10">
    <div class="text-center">
      <h3 class="text-3xl mb-3">Download our Islamic app</h3>
      <p>Become better Muslim. All day, every day.</p>
      <div
        class="flex flex-col my-10 sm:space-x-10 sm:flex-row space-x-0 space-y-10 sm:space-y-0 justify-center items-center"
      >
        <div class="relative group shadow-xl shadow-slate-900 w-72">
          <div
            class="absolute -inset-1 bg-gradient-to-r from-aquamarine-600 to-indigo-500 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
          >
          </div>
          <div
            class="relative px-7 py-6 bg-smoke-400 ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6 border-2 border-aquamarine"
          >
            <div
              class="flex items-center w-auto rounded-lg px-4 cursor-pointer"
            >
              <Icon name="ion:logo-google-playstore" class="w-7 md:w-8" />
              <div class="text-left ml-3">
                <p class="text-xs text-gray-200">Download on</p>
                <p class="text-sm md:text-base">Google Play Store</p>
              </div>
            </div>
          </div>
        </div>
        <div class="relative group shadow-xl shadow-slate-900 w-72">
          <div
            class="absolute -inset-1 bg-gradient-to-r from-aquamarine-600 to-indigo-500 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
          >
          </div>
          <div
            class="relative px-7 py-6 bg-smoke-400 ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6 border-2 border-aquamarine"
          >
            <div
              class="flex items-center w-auto rounded-lg px-4 cursor-pointer"
            >
              <Icon name="ic:baseline-apple" class="w-7 md:w-8" />
              <div class="text-left ml-3">
                <p class="text-xs text-gray-200">Download on</p>
                <p class="text-sm md:text-base">Apple Store</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="">
  <div class="container p-6 mx-auto">
    <div class="lg:flex">
      <div class="w-full -mx-6 lg:w-2/5">
        <div class="px-6">
          <div>
            <a
              href="#"
              class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
              >Salam Labs 🧪</a
            >
          </div>

          <p class="max-w-sm mt-2 text-gray-500 dark:text-gray-400">
            Join thousands of muslims and improve your lifestyle.
          </p>

          <div class="flex mt-6 -mx-2">
            <a
              href="#"
              class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
              aria-label="Reddit"
            >
              <Icon name="ic:baseline-reddit" class="w-5 h-5 fill-current" />
            </a>

            <a
              href="#"
              class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
              aria-label="Facebook"
            >
              <Icon name="ic:baseline-facebook" class="w-5 h-5 fill-current" />
            </a>

            <a
              href="#"
              class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
              aria-label="Github"
            >
              <Icon name="mdi:github" class="w-5 h-5 fill-current" />
            </a>
          </div>
        </div>
      </div>

      <div class="mt-6 lg:mt-0 lg:flex-1">
        <div
          class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <div>
            <h3 class="text-gray-700 uppercase dark:text-white">About</h3>
            <a
              href="#"
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >Company</a
            >
            <a
              href="#"
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >community</a
            >
            <a
              href="#"
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >Careers</a
            >
          </div>

          <div>
            <h3 class="text-gray-700 uppercase dark:text-white">Products</h3>
            <a
              href="#"
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >Salam Server</a
            >
            <a
              href="#"
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >Quran Offline</a
            >
            <a
              href="#"
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >Inshallah More in future!</a
            >
          </div>

          <div>
            <h3 class="text-gray-700 uppercase dark:text-white">Contact</h3>
            <span
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >+1 526 654 8965</span
            >
            <span
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >example@email.com</span
            >
          </div>
        </div>
      </div>
    </div>

    <hr class="h-px my-6 bg-gray-200 border-none dark:bg-gray-700" />

    <div>
      <p class="text-center text-gray-500 dark:text-gray-400">
        © Salam Labs 2022 - All rights reserved
      </p>
    </div>
  </div>
</footer>
