<div class="text-white sm:ml-0 text-3xl sm:text-5xl w-full font-bold text-center mt-5 ">


<div class=" sm:flex sm:justify-around">
  <h1 class="hover:underline decoration-aquamarine underline-offset-5  ">
    <a href="#quran">QURAN</a>
  </h1>
  <h1 class="hover:underline decoration-aquamarine underline-offset-5 ">
    <a href="#prayer">PRAYER TIMES</a>
  </h1>

</div>

<div class="sm:flex sm:justify-around">
  <h1 class="hover:underline decoration-aquamarine underline-offset-5  ">
    <a href="#compass">QIBLA COMPASS</a>
  </h1>
  <h1 class="hover:underline decoration-aquamarine underline-offset-5  ">
    <a href="/hadith">HADITH</a>
  </h1>
</div>

<div class="sm:flex sm:justify-around">
  <h1 class="hover:underline decoration-aquamarine underline-offset-5">
    <a href="/tafsir">TAFSIR</a>
  </h1>
  <h1 class="hover:underline decoration-aquamarine underline-offset-5">
    <a href="#themes">THEMES</a>
  </h1>
</div>

<div class="sm:flex sm:justify-around">
    <h1 class="hover:underline decoration-aquamarine underline-offset-5  ">
      <a href="/names"> 99 NAMES</a>
    </h1>

  </div>
    <p class="text-2xl text-gray-600 m-5 sm:text-center">click to open a feature</p>
</div>

