<div
  class="flex flex-wrap text-white lg:text-9xl sm:text-4xl md:text-6xl flex-col w-full justify-center items-center font-bold lg:gap-y-24 sm:gap-y-10 md:gap-y-16 py-11 my-11"
>
  <div class="flex mx-5 gap-40 flex-wrap justify-center items-center">
    <h1 class="hover:underline decoration-aquamarine underline-offset-10">
      <a href="#quran">QURAN</a>
    </h1>
    <h1 class="hover:underline decoration-aquamarine underline-offset-10">
      <a href="#prayer">PRAYER TIMES</a>
    </h1>
  </div>
  <div class="flex mx-5 lg:gap-64 flex-wrap justify-center items-center">
    <h1 class="hover:underline decoration-aquamarine underline-offset-10">
      <a href="#compass">QIBLA COMPASS</a>
    </h1>
    <h1 class="hover:underline decoration-aquamarine underline-offset-10">
      <a href="/hadith">HADITH</a>
    </h1>
  </div>
  <div class="flex mx-5 gap-56 flex-wrap justify-center items-center">
    <h1 class="hover:underline decoration-aquamarine underline-offset-10">
      <a href="/tafsir">TAFSIR</a>
    </h1>
    <h1 class="hover:underline decoration-aquamarine underline-offset-10">
      <a href="#themes">THEMES</a>
    </h1>
  </div>
  <h1 class="hover:underline decoration-aquamarine underline-offset-10">
    <a href="/names"> 99 NAMES</a>
  </h1>
  <p class="text-2xl text-gray-600">click to open a feature</p>
</div>
